@{
    ViewData["Title"] = "Home Page";
}

@model List<SelectListItem>

@using (Html.BeginForm("Index", "Orders", FormMethod.Post))
{
    <div class="container">
        <div class=" = " row">
            <div class="col-md-5">
                @*<div class="dropdownStatus">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Dropdown Example
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Edit","Orders", new { status = "Pending"} )">Pending</a></li>
                            <li><a href="#">Shipped</a></li>
                            <li><a href="#">Cancelled</a></li>
                        </ul>
                    </div>*@

                @Html.DropDownList("ddlStatus", ViewData["status"] as List<SelectListItem>, "Selecione o Status", new { style = "width=300px", @class = "form-control" })

            </div>
            <div class="col-md-5">
                @Html.DropDownList("ddlOrderId", ViewData["orders"] as List<SelectListItem>, "Selecione o ID", new { style = "width=300px", @class = "form-control" })
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Carregar", "CarregaOrdens","Orders", null, new { @class="btn btn-primary" })
            </div>
        </div>
    </div>
}







@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {

            @*$("#ddlStatus").change(function () {

                console.log($('#ddlStatus :selected').text());

                $("#ddlOrderId").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("PopulateOrdersIdsDDL", "Orders")',
                    dataType: 'json',
                    data: { status: $('#ddlStatus :selected').text() },
                    success: function (orders) {
                        $.each(orders, function (i, orders) {
                            console.log(orders.Text);
                            $("#ddlOrderId").append('<option value="' + orders.text + '">' + orders.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Falha ao recuperar as IDs' + ex);
                    }
                });
            return false;
        })*@
    });
    </script>
}